body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(183deg, #ffffff, #ddbaff);
}
.main {
  margin: 0;
  padding: 0;
}
.lpage {
  height: 100vh;
  width: 100vw;
  background-color: #f6fff8;
}
.nav {
  position: sticky;
  height: 95px;
  width: 100vw;
  background-color: #240046;
  display: flex;
  justify-content: first baseline;
}
.nav-items {
  margin: 0;
  padding: 0;
  width: 100%;
  margin-left: 2%;
  display: flex;

  align-items: center;
}

.nav-items ul {
  display: flex;
  gap: 45px;
  justify-content: space-between;
  list-style: none;
}
.nav-items a {
  font-weight: 700;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #f6fff8;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color ease-in 0.2s;
}

.nav-items li a:hover {
  cursor: pointer;
  border-radius: 10px;
  color: #240046;
  background-color: #f6fff8;
  padding: 5px;
  font-size: 25px;
}
.header {
  color: #c796f3;
  text-decoration: underline;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 30px;
}
.form {
  margin-left: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.form button {
  border: #c796f3;
  border-radius: 4px;
  padding: 3px 5px 3px 5px;
  background-color: #fff;
}
.form input {
  color: #240046;
  border: none;
  padding: 10px;
  border-radius: 13px;
}

.form button:hover {
  height: 60px;
  width: 60px;
}

.lcard {
  margin-top: 0;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #ffffff; */
  height: 100vh;
  width: 100vw;
}

.content1 {
  padding-left: 30px;
  padding-right: 30px;
  background-color: #240046;
  height: 93vh;
  width: 90vw;
  display: flex;
  justify-content: center;
  color: #f6fff8;
  border-radius: 18px;
}

.content1 h1 {
  margin-bottom: 20px;
  position: absolute;
  padding-left: 20px;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
  text-decoration: underline;
}

.content1 img {
  border-radius: 40px;
  height: 500px;
  width: 400px;
}
.content1-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.img1 {
  box-shadow: 10px 10px 5px #705c82;
}
.img2 {
  box-shadow: 10px 10px 5px #705c82;
}
.content1-text {
  font-size: 15px;
}

.sc-page {
  margin-top: 5%;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header2 {
  position: absolute;
  bottom: -300px;
  border: 1px solid black;
  border: none;
  background-color: #240046;
  color: #ffffff;
  padding: 10px;
  border-radius: 8px;
}
.content2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  /* line-height: 3; */
  margin-top: 10%;

  height: 600px;
  width: 600px;
}
.content2 div {
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 30px;
  height: 400px;
  width: 250px;
}
.content2 button {
  cursor: pointer;
}
.pack1 div {
  border: 3px solid black;
  border-radius: 10px;
  background-color: #240046;
  color: #f6fff8;
  box-shadow: 20px 20px 10px #b9abe1;
}
.pack1 div button {
  position: relative;
  top: 10px;
  padding: 20px 25px;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  background-color: #c796f3;
  transition: all ease-in-out 85ms;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
}
.pack1 p {
  line-height: 1.5;
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.pack1 div button:hover {
  color: #240046;
  background-color: #fff;
  transform: scale(1.2);
}
.pack2 div {
  background-color: #240046;
  border-radius: 10px;
  color: #f6fff8;
  box-shadow: 20px 20px 10px #b9abe1;
}
.pack2 div button {
  position: relative;
  top: 10px;
  padding: 20px 25px;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  background-color: #c796f3;
  font-size: 20px;
  transition: all ease-in-out 85ms;
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
}
.pack2 p {
  line-height: 1.5;
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.pack2 div button:hover {
  color: #240046;
  background-color: #fff;
  transform: scale(1.1);
}
.pack3 div {
  border-radius: 10px;
  background-color: #240046;
  color: #f6fff8;
  box-shadow: 20px 20px 10px #b9abe1;
}

.pack3 div button {
  position: relative;
  top: 10px;
  transition: all ease-in-out 85ms;
  padding: 20px 25px;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  background-color: #c796f3;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
}
.pack3 p {
  line-height: 1.5;
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.pack3 div button:hover {
  transform: scale(1.2);
  color: #240046;
  background-color: #fff;
}
.WebDevelopement {
  text-align: center;
  line-height: 3;
}

.web-price {
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}
.WebDevelopement img {
  position: relative;
  bottom: -30px;
}

.DataScientist {
  text-align: center;
  line-height: 3;
}
.DataScientist img {
  position: relative;
  bottom: -30px;
}

.ds-price {
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

.DataStructuresandAlgorithms {
  text-align: center;
  line-height: 3;
}
.dsa-price {
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}
.DataStructuresandAlgorithms img {
  position: relative;
  top: 20px;
}

.AppDevelopement {
  text-align: center;
  line-height: 3.6;
}
.AppDevelopement img {
  height: 60px;
  width: 60px;
  position: relative;
  top: 30px;
}
.app-price {
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}
.CloudComputing {
  text-align: center;
  line-height: 2.4;
}
.CloudComputing img {
  position: relative;
  top: 29px;
}
.cc-price {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}
.AnimationsandVFX {
  text-align: center;
  line-height: 3;
}
.AnimationsandVFX img {
  position: relative;
  top: 29px;
}
.ani-price {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}

.ScriptWrtting {
  text-align: center;
  line-height: 3;
}
.ScriptWrtting img {
  position: relative;
  top: 29px;
}
.sw-price {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}

.VideoEditing {
  text-align: center;
  line-height: 3.5;
}
.VideoEditing img {
  position: relative;
  top: 29px;
}
.ve-price {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}

.SpiritulityPractice {
  text-align: center;
  line-height: 5.8;
}
.SpiritulityPractice img {
  position: relative;
  top: 29px;
}
.sp-btn {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}

.ls-page {
  margin-top: 53%;
  height: 100vh;
  width: 100vw;
  text-align: center;
  margin-bottom: 5%;
}
.header3 {
  position: relative;
  top: 20px;
  font-size: 25px;
  font-family: fantasy;
  color: #7939b4;
  background-color: #f7f7f7;
  font-weight: 300;
}
.content3 {
  height: 100%;
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
  background-color: #240046;
  border: 10px solid #2d0056;

  display: flex;
  justify-content: center;
  border-radius: 10px;
}
.ls-box {
  margin-top: 20px;
  background-color: #fff;
  border-radius: 20px;
  height: 700px;
  width: 900px;
  border: 7px solid #883cca;
  display: flex;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
}
.ls-box h2 {
  color: #792abf;
  font-family: Georgia, "Times New Roman", Times, serif;
  border: 0px solid #d7c7f6;
  background-color: #d7c7f6;
  padding: 10px 10px;
  border-radius: 7px;
  box-shadow: -15px 20px #9337e3;
  position: absolute;
  bottom: -255%;
}
.social {
  position: relative;
  bottom: -25px;
  margin: 0;
  border: 2px solid #2d0056;
  font-family: 20px;
  padding: 10px;
  font-size: 20px;
  border-radius: 4px;
  box-shadow: 25px 21px 5px#883cca;
  border: none;
  background-color: #d8c5e9;
  color: #7020b6;
  cursor: pointer;
}
.text {
  transition: all ease-in 0.1s;
}
.text:hover {
  margin: 10px;
  transform: scale(2.5);
  color: #ffffff;
  background-color: #2d0056;
  border-radius: 10px;
  padding: 5px;
}
